 	<!DOCTYPE html>
 	<html>
 	<head>
 	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 	<title>WeUI</title>
 	<link rel="stylesheet" href="__PUBLIC__/static/weui.min.css"/>
 	<script src="__PUBLIC__/static/jquery-2.0.3.min.js"></script>
 	<!--WeUI-->
 	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
 	<style>
 	 	.btn_base{min-height: 200px;line-height: 200px;font-size: 30px;background: #fff;};
 	</style>
 	</head>
 	<body style="padding:10px;background:#eee;">
 	 	<div>
 	 	 	<h2>当前用户的OpenID：</h2>
 	 	</div>
 	 	<div>
            <textarea style="width:96%;padding:2%;font-size:14px;" rows="15">{:session('openid')}</textarea>
        </div>
 	</body>
 	</html>
