<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>WeUI</title>
<link rel="stylesheet" href="__PUBLIC__/static/weui.min.css"/>
<script src="__PUBLIC__/static/jquery-2.0.3.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body style="padding:10px;">
	<a href="javascript:;" class="weui_btn weui_btn_primary show_api_status">查看Api支持状态</a>
    <a href="{:U('share')}" class="weui_btn weui_btn_primary">分享接口</a>
    <a href="{:U('network')}" class="weui_btn weui_btn_primary">网络状态</a>
    <a href="{:U('location')}" class="weui_btn weui_btn_primary">地理位置</a>
	<a href="{:U('User/upload_cardimg')}" class="weui_btn weui_btn_primary">上传用户证件信息</a>
	<script>
	$(function(){
		// 查看接口是否可用
		$('.show_api_status').click(function(){
			wx.checkJsApi({
			jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
			success: function(res) {
				alert('chooseImage:' + res.errMsg);
			}
			});
		})
	})
	wx.config({
		debug: true,
		appId: '<?php echo $signPackage["appId"];?>',
		timestamp: <?php echo $signPackage["timestamp"];?>,
		nonceStr: '<?php echo $signPackage["nonceStr"];?>',
		signature: '<?php echo $signPackage["signature"];?>',
		jsApiList: [
		// 所有要调用的 API 都要加到这个列表中
		'chooseImage',
		]
	});
	wx.ready(function () {
	// 在这里调用 API
	});

	</script>
</body>
</html>
