<extend name="Public/base"/>
<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form action="{:U('update')}" method="post" class="form-horizontal">
        <input type="hidden" name="id" value="{$info.id}">
        <div class="form-item">
            <label class="item-label">图集名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$info.name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">图集简介<span class="check-tips"></span></label>
            <div class="controls">
                <textarea class="textarea" name="content" cols="80" rows="5">{$info.content}</textarea>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">图集缩略图<span class="check-tips"></span></label>
            <div class="controls">
                <input type="file" id="upload_picture_img_id">
                <input type="hidden" name="img_id" id="cover_id_img_id" value="{$info.img_id}"/>
                <div class="upload-img-box">
                <notempty name="info">
                    <div class="upload-pre-item"><img src="__ROOT__{$info.img_id|get_cover='path'}"/></div>
                </notempty>
                </div>
            </div>
            <script type="text/javascript">
            //上传图片
            /* 初始化上传插件 */
            $("#upload_picture_img_id").uploadify({
                "height"          : 30,
                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                "fileObjName"     : "download",
                "buttonText"      : "上传图片",
                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                "width"           : 120,
                'removeTimeout'	  : 1,
                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                "onUploadSuccess" : uploadPictureimg_id,
                'onFallback' : function() {
                    alert('未检测到兼容版本的Flash.');
                }
            });
            function uploadPictureimg_id(file, data){
                var data = $.parseJSON(data);
                var src = '';
                if(data.status){
                    $("#cover_id_img_id").val(data.id);
                    src = data.url || '__ROOT__' + data.path
                    $("#cover_id_img_id").parent().find('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                    );
                } else {
                    updateAlert(data.info);
                    setTimeout(function(){
                        $('#top-alert').find('button').click();
                        $(that).removeClass('disabled').prop('disabled',false);
                    },1500);
                }
            }
            </script>
        </case>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Photos/index')}');
    </script>
</block>
