    <!DOCTYPE html>
    <html>
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>微信JS支付</title>
    <link rel="stylesheet" href="__PUBLIC__/static/weui.min.css"/>
    <script src="__PUBLIC__/static/jquery-2.0.3.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script type="text/javascript">
    	//调用微信JS api 支付
    	function jsApiCall()
    	{
    		WeixinJSBridge.invoke(
    			'getBrandWCPayRequest',				// 获取微信支付返回请求
    			{$jsApiParameters},					//传入PHP生成的支付参数
    			function(res){
    				WeixinJSBridge.log(res.err_msg);
    				alert(res.err_code+res.err_desc+res.err_msg);
    				alert('wxpay success!');
    			}
    		);
    	}
    	// 发起微信支付
    	function callpay()
    	{
    		if (typeof WeixinJSBridge == "undefined"){
    			if( document.addEventListener ){
    				document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
    			}else if (document.attachEvent){
    				document.attachEvent('WeixinJSBridgeReady', jsApiCall);
    				document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
    			}
    		}else{
    			jsApiCall();
    		}
    	}
    	</script>
    </head>
    <body style="padding:10px;">
    	<a href="javascript:;" class="weui_btn weui_btn_primary wxpay">点击支付</a>
    	<script>
    	$(function(){
    		// 给按钮绑定点击事件
    		$('.wxpay').click(function(){
    			callpay();					// 发起支付
    		})
    	})
    	</script>
    </body>
    </html>
